html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img{
  object-fit: cover;
  object-position: 0 30%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: aliceblue;
  background-color: #24AABE;
  /* Set the fixed height of the footer here */
  height: 80px;
}

/* ----------- Loading ------------- */
@import url("./loading.css");

/* ----------- Products ------------- */
@import url("./product.css");

/* ----------- Profile ------------- */
@import url("./profile.css");

/* ----------- Products Manager ------------- */
@import url("./products_manager.css");